<nav class="navbar">
    <div class="nav">
        <div><a class="" href="{{ path('app_index') }}"><img class="logo" src="{{ asset('interface/sezame.png') }}" alt="logo"></a></div>
        <div class="titreGlobal">
            <a class="titreNav" href="{{ path('app_index') }}">Sézame livre toi !</a>
            <p class="slogan">Deviens ton propre éditeur de bande dessinée</p>
        </div>
        <ul class="menu">
            <li><a class="" href="{{ path('app_home') }}"><img class="icon" src="{{ asset('interface/accueil.png') }}" alt="home"><p>home</p></a></li>
            <li><a class="" href="{{ path('app_books') }}">
                <img class="icon" src="{{ asset('interface/bd.png') }}" alt="bande dessinée">
                <p>BD</p>
            </a></li>
            <li><a class="" href="{{ path('app_collection') }}">
                <img class="icon" src="{{ asset('interface/livre.png') }}" alt="collection">
                <p>collection</p>
            </a></li>
            <li><a class="" href="{{ path('app_author') }}">
                <img class="icon" src="{{ asset('interface/utilisateur.png') }}" alt="auteur">
                <p>Auteur</p>
            </a></li>
            <li><a class="" href="{{ path('app_cart') }}">
                <img class="icon" src="{{ asset('interface/mallette.png') }}" alt="panier">
                <p>panier</p>
            </a></li>
            <li>
            {# {% if is_granted('ROLE_USER') %}
            {% else %}
            {% endif %} #}
                <div class="login">
                    <a class="" href="{{ path('app_login') }}">
                        <img class="icon" src="{{ asset('interface/user.png') }}" alt="user">
                        <p>connexion</p>
                    </a>
                    <a class="" href="{{ path('app_register') }}">
                        <p>S'inscrire</p>
                    </a>
                </div>
            </li>
            <li>
                {# <form name="resultSearch_Form" action="{{ path('app_resultSearch') }}">
                    <input class="search" type="search" name="q" placeholder="Search">
                    <input class="inputSubmitSearch" type="submit" value="">
                    <img class="loupe" src="{{ asset('interface/loupe.png') }}" alt="recherher">
                </form>  #}
                {{ render(controller(
                    'App\\Controller\\SearchController::searchBar', { 
                        mySearch: app.request.get('my_search', []) 
                    }
                )) }}
            </li>
        </ul>
    </div>
</nav>