{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gérer mes livres</h1>
    <h2>Créer ton livre</h2>
        <div class="p-5">
        <h2>Tableau utilisateurs</h2>

        <table class="table table-responsive">
            <tr>
                <th>Titre du livre</th>
                <th>Image du livre</th>
                <th>Résumé du livre</th>
                <th>prénom d'auteur</th>
                <th>nom d'auteur</th>
                <th>Créer une collection</th>
                <th>Ajouter à une collection</th>
                <th>prix</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.picture }}</td>
                    <td>{{ book.summary }}</td>
                    <td>{{ collection.title }}</td>
                    <td>{{ author.firstname }}</td>
                    <td>{{ author.lastname }}</td>
                    <td>{{ book.price }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
    <h2>Aperçu de votre</h2>
        <ul>
            <li></li>
        </ul>
    <h2>Vos livre</h2>
{% endblock %}