{% extends 'base.html.twig' %}

{% block title %}Cree ton livre{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Gérer mes livres</h1>
    <h2>Créer un livre</h2>
        {{ form(form) }}
        {{ form_rest(form) }}
        <button class="btnSubmit" type="submit">Créer</button>
    <h2>Aperçu de votre</h2>
        <ul>
                {% for books in book %}
                    <li>{{book.title}}</li>
                    <li>{{book.picture}}</li>
                    <li>category</li>
                    <li>Auteur</li>
                {% endfor %}
        </ul>
    <h2>Vos livre</h2>
        <ul>
            {% if books | length > 0 %}
                {% for book in books %}
                    <li>{{book.title}}</li>
                    <li>{{book.picture}}</li>
                    <li>category</li>
                    <li>Auteur</li>
                    <button>modifier</button>
                    <button>supprimer</button>
                {% endfor %}
            {% endif %}
        </ul>
</div>
    
{% endblock %}
