{% extends 'base.html.twig' %}

{% block title %}Les BD : bande dessinées{% endblock %}

{% block body %}
    <h1>Liste de bandes dessinées</h1>
    <div class="categ">
        <a class="titreCateg" >
            ↱ Sélectionner un genre ↴
        </a>
        <div class="cadreCateg">
            <ul class="list">
                {% if categories is defined %}
                    {% for category in categories %}
                        <li><a class="categLink" href="#">{{ category.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="cadreBooks">
        {% if books is defined %}
            {% for book in books %}
                    <ul class="list">
                        <li><h2 class="marginL">{{ book.title }}</h2></li>
                        <li><a href="{{ path('app_showBook') }}"><img class="imgBook" src="{{ asset( book.imageName ) }}" alt="{{ book.title }}"></a></li>
                        {# <li><p>{{ book.author.firstname }} {{ book.author.lastname }}</p></li> #}
                        <li><p class="price marginL">{{ book.price }} €</p></li>
                    </ul>
            {% endfor %}  
            {% else %}        
                {% include "_part/pageNotFound.html.twig" %}
            {% endif %} 
    </div>
{% endblock %}
