{% extends 'base.html.twig' %}

{% block title %}Les BD : bande dessinées{% endblock %}

{% block body %}
    <h1>Liste de bandes dessinées</h1>
    {% if books | length > 0 %}
        {% for book in books %}
            <div class="example-wrapper">
                <ul>
                    <li><h2>{{ book.title }}</h2></li>
                    <li><a href="showPage/show.html.twig"><img src="{{ book.picture }}" alt="{{ book.title }}"></a></li>
                    <li><p>{{ author.firstname }}</p></li>
                    <li><p>{{ author.lastname }}</p></li>
                    <li><p>{{ book.price }} €</p></li>
                    <li><p>{{ book.ranking }}</p></li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
