{% extends 'base.html.twig' %}

{% block title %}Les BD : bande dessinées{% endblock %}

{% block body %}
    <h1>Liste de bandes dessinées</h1>
    <div class="cadreBook">
        {% if books | length > 0 %}
            {% for book in books %}
                    <ul>
                        <li><h2>{{ book.title }}</h2></li>
                        <li><a href="{{ path('app_showBook') }}"><img src="{{ asset( book.picture ) | imagine_filter('thumbnail') }}" alt="{{ book.title }}"></a></li>
                        <li><p>{{ book.author.firstname }} {{ book.author.lastname }}</p></li>
                        <li><p>{{ book.summary }}</p></li>
                        <li><p>{{ book.price }} €</p></li>
                        <li><p>{{ book.ranking }}</p></li>
                    </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}