{% extends 'base.html.twig' %}

{% block title %}Les BD : bande dessinées{% endblock %}

{% block body %}
    <h1>Liste de bandes dessinées</h1>
    <div class="cadreBookSh">
        {% if books | length > 0 %}
            {% for book in books %}
                    <ul class="cadreShowBook">
                        <li><h2>{{ book.title }}</h2></li>
                        <li><a href=""><img src="{{ asset( book.imageName ) }}" alt="{{ book.title }}"></a></li>
                    </ul>
                    <ul class="cadreShowBook">
                        <li class="price">{{ book.price }} €</li>
                        <li>{{ book.summary | striptags }}</li> 
                        {# <li><p>{{ book.author.firstname }} {{ book.author.lastname }}</p></li> #}
                    </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}