{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}

    <h1>Collection de bandes dessinées</h1>
    <div class="cadreBook">
        {% if collections is defined %}
            {% for collection in collections %}
                <h2 class="titleSlide">{{ collection.title }}</h2>
                <div class="cadreImg">
                    <div class="sousCadreImg">
                            <img class="imgBook" src="{{ asset('interface/lanfeust.jpg') }}" alt="{{ collection.title }}">
                    </div>
                </div>
                <div class="commandeCollection">
                    <p class="price">{{ collection.price }} €</p>
                    <img class="imgBookCollection" src="{{ asset('interface/livre.png') }}" alt="collection">
                    <button class="btnBookCollection">commander</button>
                </div>
                    <h2>{{ collection.title }}</h2>
                    <p class="summary">{{ collection.summary | striptags }}</p>
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}
