{% extends 'base.html.twig' %}

{% block title %}Hello CollectionBookController!{% endblock %}

{% block body %}

    <h1>Collection de bandes dessinées</h1>
    <div class="cadreBook">
        {% if collectionBooks is defined %}
            {% for collectionBook in collectionBooks %}
                <h2 class="titleSlide">{{ collectionBook.title }}</h2>
                <div class="cadreImg">
                    <div class="sousCadreImg">
                        <a href="{{ path('app_pageBook')}}">
                            <img class="imgBook" src="{{ vich_uploader_asset( collectionBook.imageName, 'collections') }}" alt="{{ collectionBook.title }}">
                        </a>
                    </div>
                </div>
                <div class="example-wrapper">
                    <h2 class="marginL">{{ collectionBook.title }}</h2>
                    <p class="price">{{ collectionBook.price }} €</p>
                </div>
            {% endfor %}
            {% else %}
                <span class="empty">
                    {% include "_part/pageNotFound.html.twig" %}
                </span>
        {% endif %}
{% endblock %}
